<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886540656445-87ophm4squ51s9g1ssn3n0p19cc72ime.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886540656445-87ophm4squ51s9g1ssn3n0p19cc72ime</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886540656445-ginf03julf1um5o8kvap02bhml50afpn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2r37FHxdO6Um7KR76thDnXDRCZ0jgLY8</string>
	<key>GCM_SENDER_ID</key>
	<string>886540656445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliniops.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-f3c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-f3c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886540656445:ios:dc85d2e96f0a014917af54</string>
</dict>
</plist>